# Ignore Finder files
.DS_Store

# Ignore private credentials
.ssh

# Ignore vagrant configurations
.vagrant

# Ignore SVN files
.svn

# Ignore docker files
.dockerfile.swp

# Ignore nodes_module
node_modules/

