# Set template for Qt apps
export QT_QPA_PLATFORMTHEME=qt5ct

# Setting for ibus with Qt applications
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
#xrandr --output HDMI-0 --auto --rotate left
xrandr --output DP-2 --auto --pos 0x0 --rotate left --output DP-3 --auto --pos 1080x800 --left-of DP-2

xset -b

